* {
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 80px;
    justify-content:right;
    padding: 0 20px;

}